@page "{anomalyId?}"

@using Microsoft.AspNetCore.Html;
@using ReadSharp;
@model SolucoesDefeitos.Pesentation.RazorPages.Pages.Anomaly.ViewModel
@{
    var description = HtmlUtilities.ConvertToPlainText(Model.Anomaly.Description);
    var repairSteps = HtmlUtilities.ConvertToPlainText(Model.Anomaly.RepairSteps);
}

<div class="p-3 mb-2 bg-secondary text-white">
    <span>Detalhes da Solução e Defeito</span>    
</div>

<div class="mb-3">
    <div class="btn-group-sm">
        <button type="button" class="btn btn-primary" onclick="history.back()">Voltar</button>
        <a class="btn btn-warning" asp-page="/Anomaly/Form" asp-route-anomalyId="@Model.Anomaly.AnomalyId">Alterar</a>
        <button type="button" class="btn btn-danger" onclick="viewPage.delete(@Model.Anomaly.AnomalyId)">Excluir</button>
    </div>
</div>

<h5 class="text-secondary">Título/Resumo</h5>
<div class="mb-5">
    @(new HtmlString(Model.Anomaly.Summary))
</div>

@if(Model.Anomaly.ProductSpecifications.Any())
{
    <h5 class="text-secondary">Produto(s)</h5>
    <div class="mb-5">
        @foreach (var product in Model.Anomaly.ProductSpecifications)
        {
            <span class="badge bg-primary">@(product.Product.Name)/@(product.ManufactureYear)</span>
        }
    </div>
}

@if (!string.IsNullOrEmpty(description) && !string.IsNullOrWhiteSpace(description))
{
    <h5 class="text-secondary">Descrição detalhada</h5>
    <div class="mb-5">
        @(new HtmlString(Model.Anomaly.Description))
    </div>    
}

@if (!string.IsNullOrEmpty(repairSteps) && !string.IsNullOrWhiteSpace(repairSteps))
{
    <h4 class="text-secondary">Solução</h4>
    <div>
        @(new HtmlString(Model.Anomaly.RepairSteps))
    </div>    
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/anomaly/view.js" asp-append-version="true"></script>
}