@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SolucoesDefeitos.Model.Attachment>
@{
    var attachmentIndex = 0;
}
<div class="p-2 bg-light border">
    @if (Model?.Any() ?? false)
    {        
        @foreach (var attachment in Model)
        {
            <div id="dvAttachment-@attachmentIndex" class="card w-25"
                data-anomaly-id="@attachment.AnomalyId"
                data-attachment-id="@attachment.AttachmentId"
                data-attachment-description="@attachment.Description"
                data-attachment-storage="@attachment.Storage"
                data-attachment-category="@attachment.Category">
                <input type="hidden" name="Anomaly.Attachments[@attachmentIndex].AttachmentId" value="@attachment.AttachmentId" />
                <input type="hidden" name="Anomaly.Attachments[@attachmentIndex].Description" value="@attachment.Description" />
                <input type="hidden" name="Anomaly.Attachments[@attachmentIndex].Storage" value="@attachment.Storage" />
                <input type="hidden" name="Anomaly.Attachments[@attachmentIndex].Category" value="@attachment.Category" />
                <div class="row g-0">
                    <div class="col-md-4">
                        @if ((attachment.Category == SolucoesDefeitos.Model.Enum.AttachmentCategory.Picture)
                       || (attachment.Category == SolucoesDefeitos.Model.Enum.AttachmentCategory.PictureLink))
                        {
                            <img src="@attachment.Storage" width="200" height="100" class="img-fluid rounded-start" />
                        }
                        else if (attachment.Category == SolucoesDefeitos.Model.Enum.AttachmentCategory.VideoLink)
                        {
                            <iframe class="img-fluid rounded-start" width="200" height="100" src="@attachment.Storage">
                            </iframe>
                        }
                        else
                        {
                            <span>Formato de anexo não reconhecido.</span>
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-text">
                                @attachment.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }    
    else
    {
        <div class="row text-center"><span>Nenhum anexo foi inserido.</span></div>
    }
</div>